<div
  class="group pointer-events-none absolute size-auto min-h-6.25 min-w-6.25 cursor-grab select-none [-moz-user-drag:none] [-webkit-user-drag:none] backface-hidden transform-3d"
  [style.width.px]="size * gridSize"
  appMovable
  [movable.option]="movableOption()"
  [movable.disable]="isLock"
  [appSelectable]="card()"
  (movable.ondragstart)="onMove()"
  (movable.ondragend)="onMoved()"
>
  <div
    class="pointer-events-auto box-border size-full backface-hidden transform-3d"
    [style.height.px]="imageBoxHeightPx()"
    appRotable
    [rotable.option]="rotableOption()"
    [rotable.disable]="tabletopService.mode2d()"
    (rotable.ondragstart)="onMove()"
    (rotable.ondragend)="onMoved()"
  >
    @if (imageFile()) {
      <img
        class="m-auto block h-auto w-full [transform-style:inherit]"
        [ngStyle]="{
          width: imageSupersamplePercent(),
          maxWidth: 'none',
          marginLeft: imageSupersampleInset(),
          marginRight: imageSupersampleInset(),
          transform: imageTransform(),
        }"
        (load)="onImageLoad($event)"
        [src]="displayedImageUrl() | safe: 'resourceUrl'"
      />
    }
    @if (!showsFront() && hasOwner() && 0 < ownerName().length) {
      <div
        class="bg-ui-panel text-ui-text! absolute top-0 z-10 box-border max-w-[18em] truncate rounded-3xl px-2.25 py-0.75 text-[15px] whitespace-nowrap opacity-90 will-change-[opacity]"
        [ngStyle]="{ transform: 'translateY(-75%) translateX(-50%) translateX(' + (size * gridSize) / 2 + 'px)' }"
      >
        <span class="transform-3d">{{ ownerName() }}</span>
      </div>
    }
    @if (canPeek() && peekImageUrl().length > 0) {
      <img
        class="pointer-events-none absolute block object-contain filter-[opacity(0.8)] will-change-[opacity] [transform-style:inherit]"
        [ngStyle]="{
          left: peekImageLayout().left + 'px',
          top: peekImageLayout().top + 'px',
          width: peekImageLayout().width + 'px',
          height: peekImageLayout().height + 'px',
          maxWidth: 'none',
          transform: peekTransform(),
        }"
        (load)="onPeekImageLoad($event)"
        [src]="peekImageUrl() | safe: 'resourceUrl'"
      />
    }
    @if (canPeek() && !showsFront() && peekImageUrl().length > 0) {
      <!-- Match the text plane to the front pixels inside the back image's object-contain box. -->
      <div
        class="card-peek-face pointer-events-none absolute z-2 origin-center opacity-80"
        [style.left.px]="peekFaceRect().left"
        [style.top.px]="peekFaceRect().top"
        [style.width.px]="peekFaceRect().width"
        [style.height.px]="peekFaceRect().height"
        [style.transform]="peekScale"
      >
        <card-face-text [card]="card()" />
      </div>
    } @else {
      <card-face-text [card]="card()" />
    }
    @if (!isIconHidden() && !isLock) {
      <div
        class="rotate-grab bg-ui-elevated text-ui-muted pointer-events-auto absolute -top-2.5 -left-2.5 z-11 box-border hidden size-7 cursor-default rounded-full p-0.5 text-[8px] opacity-0 will-change-[opacity] transform-3d group-hover:block group-hover:opacity-50 group-active:hidden group-active:opacity-0 hover:block! hover:opacity-100 active:block! active:opacity-100 [&_.material-icons]:hidden group-hover:[&_.material-icons]:inline group-active:[&_.material-icons]:inline pointer-coarse:[&_.material-icons]:inline"
      >
        <i class="material-icons">autorenew</i>
      </div>
      <div
        class="rotate-grab bg-ui-elevated text-ui-muted pointer-events-auto absolute -bottom-2.5 -left-2.5 z-11 box-border hidden size-7 cursor-default rounded-full p-0.5 text-[8px] opacity-0 will-change-[opacity] transform-3d group-hover:block group-hover:opacity-50 group-active:hidden group-active:opacity-0 hover:block! hover:opacity-100 active:block! active:opacity-100 [&_.material-icons]:hidden group-hover:[&_.material-icons]:inline group-active:[&_.material-icons]:inline pointer-coarse:[&_.material-icons]:inline"
      >
        <i class="material-icons">autorenew</i>
      </div>
      <div
        class="rotate-grab bg-ui-elevated text-ui-muted pointer-events-auto absolute -right-2.5 -bottom-2.5 z-11 box-border hidden size-7 cursor-default rounded-full p-0.5 text-[8px] opacity-0 will-change-[opacity] transform-3d group-hover:block group-hover:opacity-50 group-active:hidden group-active:opacity-0 hover:block! hover:opacity-100 active:block! active:opacity-100 [&_.material-icons]:hidden group-hover:[&_.material-icons]:inline group-active:[&_.material-icons]:inline pointer-coarse:[&_.material-icons]:inline"
      >
        <i class="material-icons">autorenew</i>
      </div>
      <div
        class="rotate-grab bg-ui-elevated text-ui-muted pointer-events-auto absolute -top-2.5 -right-2.5 z-11 box-border hidden size-7 cursor-default rounded-full p-0.5 text-[8px] opacity-0 will-change-[opacity] transform-3d group-hover:block group-hover:opacity-50 group-active:hidden group-active:opacity-0 hover:block! hover:opacity-100 active:block! active:opacity-100 [&_.material-icons]:hidden group-hover:[&_.material-icons]:inline group-active:[&_.material-icons]:inline pointer-coarse:[&_.material-icons]:inline"
      >
        <i class="material-icons">autorenew</i>
      </div>
      <div
        class="bg-ui-hover pointer-events-none absolute -inset-0.5 -z-1 box-border hidden rounded-lg will-change-[opacity] transform-3d group-hover:block group-active:hidden"
      ></div>
    }
    @if (isLock && dispLockMark) {
      <div
        class="bg-ui-panel text-ui-text absolute top-1.25 z-1 box-border size-7 rounded-full p-0.5 text-[8px] whitespace-nowrap will-change-[opacity] transform-3d"
        [ngStyle]="{ transform: 'translateY(0%) translateX(-50%) translateX(' + (size * gridSize) / 2 + 'px)' }"
      >
        <i class="material-icons inline">lock</i>
      </div>
    }
  </div>
</div>
