@if (guide()) {
  <div
    data-altitude-guide
    class="pointer-events-none absolute top-0 left-0 transform-3d"
    [style.transform]="anchorCss()"
  >
    <div
      data-altitude-guide-ground
      class="absolute top-0 left-0 rounded-xs border border-dashed"
      [style.width.px]="groundMarkWidthPx()"
      [style.height.px]="groundMarkHeightPx()"
      [style.transform]="groundMarkCss()"
      [style.border-color]="stroke"
      [style.box-shadow]="'0 0 3px ' + shadow"
    ></div>

    <div
      data-altitude-guide-pole
      class="absolute top-0 left-0 origin-top-left border-l-2 border-dashed transform-3d"
      [style.height.px]="poleHeightPx()"
      [style.transform]="poleCss()"
      [style.border-left-color]="stroke"
    >
      @for (offset of rungOffsetsPx(); track offset) {
        <div
          data-altitude-guide-rung
          class="absolute left-0 border-t-2 border-solid"
          [style.width.px]="rungWidthPx"
          [style.top.px]="offset"
          [style.border-top-color]="stroke"
        ></div>
      }

      <div class="absolute top-0 left-0 transform-3d">
        <span
          data-altitude-guide-reading
          class="absolute pl-2.5 text-[12px] font-extrabold whitespace-nowrap backface-hidden transform-3d"
          [style.color]="stroke"
          [style.text-shadow]="'0 0 3px ' + shadow"
          >{{ reading() }}</span
        >
        <span
          class="absolute transform-[rotateY(-180deg)] pl-2.5 text-[12px] font-extrabold whitespace-nowrap backface-hidden transform-3d"
          [style.color]="stroke"
          [style.text-shadow]="'0 0 3px ' + shadow"
          >{{ reading() }}</span
        >
      </div>
    </div>
  </div>
}
